Hi there,

Someone asked for a password reset for email address {{ email }}.

Follow the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

In case you forgot your Web Forum username: {{ user.username }}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

If you have received this mail in error, or another user entered your email, you can safely disregard this email.

Thank you,

Web Forum Support team